{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Stanbic IBTC Stockbroking App</h1>
    <p>This page should automatically redirect to the App store page for Stanbic IBTC Stockbroking App. If you are not taken to the app store automatically, please tap the button below. </p>
    <a type="button" class="btn btn-lg btn-default" href="https://apps.apple.com/gb/app/stanbic-ibtc-stockbroking-app/id1517232753"><span class="glyphicon glyphicon-download"></span> Stanbic Stocks - iOS</a>
  </div>
</div>

{% endblock %}
