{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Stanbic IBTC Stockbroking App</h1>
    <p>This page should automatically redirect to the App store page for Stanbic IBTC Stockbroking App. If you are not taken to the app store automatically, please tap the button below. </p>
    <a type="button" class="btn btn-lg btn-default" href="https://apps.apple.com/gb/app/stanbic-ibtc-stockbroking-app/id1517232753"><span class="glyphicon glyphicon-download"></span> Stanbic Stocks - iOS</a>
  </div>
</div>
<script>
    window.onload = function() {
        // Deep link to your app goes here
        document.getElementById("l").src = "my_app://";

        setTimeout(function() {
            // Link to the App Store should go here -- only fires if deep link fails
            window.location = "https://apps.apple.com/gb/app/stanbic-ibtc-stockbroking-app/id1517232753";
        }, 500);
    };
</script>
<iframe id="l" width="1" height="1" style="visibility:hidden"></iframe>

</script>
{% endblock %}
